In [ ]:
import sys
!{sys.executable} -m pip install python-dotenv
!pip install kafka-python pandas

In [21]:
from dotenv import load_dotenv
import os

load_dotenv()  # Load .env into environment

broker = os.getenv("KAFKA_BROKER")
topic = os.getenv("TOPIC_NAME")

In [22]:
import pandas as pd
from kafka import KafkaConsumer , KafkaProducer
from time import sleep
from json import dumps
import json

In [25]:
producer = KafkaProducer(bootstrap_servers = [broker],value_serializer = lambda x: dumps(x).encode('utf-8'))

In [29]:
producer.send(topic,value="{'hello':'world'}")

In [6]:
df = pd.read_csv("data/stock_data.csv")

In [30]:
df.head()

,Index,Date,Open,High,Low,Close,Adj Close,Volume,CloseUSD
0,HSI,1986-12-31,2568.300049,2568.300049,2568.300049,2568.300049,2568.300049,0.0,333.879006
1,HSI,1987-01-02,2540.100098,2540.100098,2540.100098,2540.100098,2540.100098,0.0,330.213013
2,HSI,1987-01-05,2552.399902,2552.399902,2552.399902,2552.399902,2552.399902,0.0,331.811987
3,HSI,1987-01-06,2583.899902,2583.899902,2583.899902,2583.899902,2583.899902,0.0,335.906987
4,HSI,1987-01-07,2607.100098,2607.100098,2607.100098,2607.100098,2607.100098,0.0,338.923013

In [35]:
i = 0
while (i<8):
    dict_stock = df.sample(1).to_dict(orient="records")[0]
    producer.send(topic, value=dict_stock)
    sleep(1)
    i+=1

In [ ]:
producer.flush() #clear data from kafka server