In [5]:
pip install kafka-python pandas

Requirement already satisfied: kafka-python in c:\users\sajal\appdata\local\programs\python\python310\lib\site-packages (2.2.14)
Collecting pandas
  Downloading pandas-2.3.0-cp310-cp310-win_amd64.whl (11.1 MB)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\sajal\appdata\roaming\python\python310\site-packages (from pandas) (2.9.0.post0)
Collecting pytz>=2020.1
  Downloading pytz-2025.2-py2.py3-none-any.whl (509 kB)
Collecting numpy>=1.22.4
  Downloading numpy-2.2.6-cp310-cp310-win_amd64.whl (12.9 MB)
Collecting tzdata>=2022.7
  Downloading tzdata-2025.2-py2.py3-none-any.whl (347 kB)
Requirement already satisfied: six>=1.5 in c:\users\sajal\appdata\roaming\python\python310\site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)
Installing collected packages: tzdata, pytz, numpy, pandas
Successfully installed numpy-2.2.6 pandas-2.3.0 pytz-2025.2 tzdata-2025.2
Note: you may need to restart the kernel to use updated packages.

WARNING: You are using pip version 21.2.3; however, version 25.1.1 is available.
You should consider upgrading via the 'c:\Users\sajal\AppData\Local\Programs\Python\Python310\python.exe -m pip install --upgrade pip' command.

In [1]:
import pandas as pd
from kafka import KafkaConsumer , KafkaProducer
from time import sleep
from json import dumps
import json

In [4]:
producer = KafkaProducer(bootstrap_servers = ['54.165.1.224:9092'],value_serializer = lambda x: dumps(x).encode('utf-8'))

In [5]:
producer.send('demo_test',value="{'hello':'world'}")

In [6]:
df = pd.read_csv("data/stock_data.csv")

In [7]:
df.head()

,Index,Date,Open,High,Low,Close,Adj Close,Volume,CloseUSD
0,HSI,1986-12-31,2568.300049,2568.300049,2568.300049,2568.300049,2568.300049,0.0,333.879006
1,HSI,1987-01-02,2540.100098,2540.100098,2540.100098,2540.100098,2540.100098,0.0,330.213013
2,HSI,1987-01-05,2552.399902,2552.399902,2552.399902,2552.399902,2552.399902,0.0,331.811987
3,HSI,1987-01-06,2583.899902,2583.899902,2583.899902,2583.899902,2583.899902,0.0,335.906987
4,HSI,1987-01-07,2607.100098,2607.100098,2607.100098,2607.100098,2607.100098,0.0,338.923013

In [10]:
i = 0
while (i<4):
    dict_stock = df.sample(1).to_dict(orient="records")[0]
    producer.send('demo_test', value=dict_stock)
    sleep(1)
    i+=1

In [ ]:
producer.flush() #clear data from kafka server